button{
     /* color: #06b2d8;  */
    padding: 35px 35px;
    /* font-size: 0em; */
    /* background-image: url('./images/IMG_300.jpg'); */
    background: #06b2d8;
    /* background-image: "/images/dot2.png"; */
    border-radius: 50%;
    border: 0px solid white;
    margin: 1px 1px 1px 1px;
    height:10px;
    width:10px;
    cursor: pointer;
    opacity: 1;

  }